In [1]:
import numpy as np

In [2]:
np.__version__

'1.18.2'

## 예제 4-1-2-1  행렬의 산술연산

In [3]:
a = np.array([[3,4],[4,5]], dtype=np.int64)

In [4]:
a

array([[3, 4],
       [4, 5]], dtype=int64)

In [5]:
b = np.array([[2,4],[2,5]], dtype='i8')

In [6]:
b

array([[2, 4],
       [2, 5]], dtype=int64)

In [7]:
np.add(a,b)

array([[ 5,  8],
       [ 6, 10]], dtype=int64)

In [8]:
np.subtract(a,b)

array([[1, 0],
       [2, 0]], dtype=int64)

In [9]:
np.multiply(a,b)

array([[ 6, 16],
       [ 8, 25]], dtype=int64)

In [10]:
np.divide(a,b)

array([[1.5, 1. ],
       [2. , 1. ]])

In [11]:
np.floor_divide(a,b)

array([[1, 1],
       [2, 1]], dtype=int64)

In [12]:
np.divmod(a,b)

(array([[1, 1],
        [2, 1]], dtype=int64),
 array([[1, 0],
        [0, 0]], dtype=int64))

## 예제 4-1-2-2  행렬에 스칼라 곱셈과 나눗셈 처리

In [13]:
d = np.array([[1,2,3],[4,5,6],[7,8,9]])

In [14]:
np.multiply(3,d)

array([[ 3,  6,  9],
       [12, 15, 18],
       [21, 24, 27]])

In [15]:
s = np.full((3,3),3)

In [16]:
s

array([[3, 3, 3],
       [3, 3, 3],
       [3, 3, 3]])

In [17]:
np.multiply(s,d)

array([[ 3,  6,  9],
       [12, 15, 18],
       [21, 24, 27]])

In [18]:
np.divide(3,d)

array([[3.        , 1.5       , 1.        ],
       [0.75      , 0.6       , 0.5       ],
       [0.42857143, 0.375     , 0.33333333]])

In [19]:
np.floor_divide(d,3)

array([[0, 0, 1],
       [1, 1, 2],
       [2, 2, 3]], dtype=int32)